Repository DevLeonardoCommunity/github-stats: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:fix, eslint --max-warnings=0

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,json,md}": "npm run format:fix",
  "*.{js,jsx,ts,tsx}": "eslint --max-warnings=0"
}

chore: add husky and eslint rules (#34)
  .eslintrc
  .eslintrc.json
  .husky/pre-commit
  .lintstagedrc
  README.md
  package-lock.json
  package.json
  src/pages/stats/[login].tsx
  src/types/next-auth.d.ts
Due: npm run format:fix, eslint --max-warnings=0

Update README.md with video link
  README.md
Due: npm run format:fix

:art: Changing favicon to a star
  src/app/favicon.ico
Due: none

:zap: export stats as image
  package-lock.json
  package.json
  src/pages/stats/[login].tsx
  src/utils/exportStats.ts
  src/utils/index.ts
Due: npm run format:fix, eslint --max-warnings=0

style: Changing favicon to a star (#35)
  src/app/favicon.ico
Due: none

:wrench: Fixes export as image button error
  src/pages/stats/[login].tsx
Due: npm run format:fix, eslint --max-warnings=0

:wrench: center the text in buttons
  src/pages/stats/[login].tsx
Due: npm run format:fix, eslint --max-warnings=0

:wrench: Fix the wierd behaviour of copying the image
  src/utils/exportStats.ts
Due: npm run format:fix, eslint --max-warnings=0

feat: :zap: export stats as image (#36)
  package-lock.json
  package.json
  src/pages/stats/[login].tsx
  src/utils/exportStats.ts
  src/utils/index.ts
Due: npm run format:fix, eslint --max-warnings=0

change button placement
  src/pages/stats/[login].tsx
Due: npm run format:fix, eslint --max-warnings=0

refactor code to use custom types
  src/pages/stats/[login].tsx
Due: npm run format:fix, eslint --max-warnings=0

:heavy_plus_sign: Add total received stars
  src/graphql/queries.ts
  src/pages/profile/index.tsx
  src/types/github.ts
Due: npm run format:fix, eslint --max-warnings=0

:heavy_plus_sign: Add total received stars (#45)
  src/graphql/queries.ts
  src/pages/profile/index.tsx
  src/types/github.ts
Due: npm run format:fix, eslint --max-warnings=0

:heavy_plus_sign: Adding export as image in profile page
  src/pages/profile/index.tsx
  src/pages/stats/[login].tsx
  src/utils/exportAsImage.ts
  src/utils/index.ts
Due: npm run format:fix, eslint --max-warnings=0

improve typing
  src/pages/stats/[login].tsx
Due: npm run format:fix, eslint --max-warnings=0

fix: export button placement in text mode (#44)
  src/pages/stats/[login].tsx
Due: npm run format:fix, eslint --max-warnings=0

Fixes
  src/pages/profile/index.tsx
  src/pages/stats/[login].tsx
  src/utils/exportAsImage.ts
Due: npm run format:fix, eslint --max-warnings=0

fix conflicts
  src/pages/stats/[login].tsx
Due: npm run format:fix, eslint --max-warnings=0

feat: :heavy_plus_sign: Adding export as image in profile page (#47)
  src/pages/profile/index.tsx
  src/pages/stats/[login].tsx
  src/utils/exportAsImage.ts
  src/utils/index.ts
Due: npm run format:fix, eslint --max-warnings=0

fix: Make Background Size Flexible
  src/styles/globals.css
Due: none

fix: Make Background Size Flexible (#50)
  src/styles/globals.css
Due: none

feat: middleware.ts created for protect the routes
  src/middleware.ts
Due: npm run format:fix, eslint --max-warnings=0

Adding overflow to x-axis
  src/pages/stats/[login].tsx
Due: npm run format:fix, eslint --max-warnings=0

fix: adding overflow to x-axis (#52)
  src/pages/stats/[login].tsx
Due: npm run format:fix, eslint --max-warnings=0

Add new Github Issue Forms templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/new-feature.yml
Due: npm run format:fix

chore: add new Github Issue Forms templates (#53)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/new-feature.yml
Due: npm run format:fix

Removed old template
  .github/ISSUE_TEMPLATE/feature_request.md
Due: npm run format:fix

feat: NEXTAUTH_SECRET env added and secret field removed in NextAuth
  .env.example
  src/pages/api/auth/[...nextauth].ts
Due: npm run format:fix, eslint --max-warnings=0

feat: NEXTAUTH_SECRET env uncomment
  .env.example
Due: none

feat: middleware.ts created for protect the routes (#51)
  .env.example
  src/middleware.ts
  src/pages/api/auth/[...nextauth].ts
Due: npm run format:fix, eslint --max-warnings=0

docs: add black-arm and Agrimaagrawal to contributors
  .all-contributorsrc
  README.md
Due: npm run format:fix

docs: add black-arm and Agrimaagrawal to contributors (#54)
  .all-contributorsrc
  README.md
Due: npm run format:fix

test: Add cypress configuration
  cypress.config.ts
  cypress/e2e/homepage.spec.cy.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  package-lock.json
  package.json
  tsconfig.json
Due: npm run format:fix, eslint --max-warnings=0

test: Add cypress configuration (#57)
  cypress.config.ts
  cypress/e2e/homepage.spec.cy.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  package-lock.json
  package.json
  tsconfig.json
Due: npm run format:fix, eslint --max-warnings=0

fix spacing between export buttons
  src/pages/stats/[login].tsx
Due: npm run format:fix, eslint --max-warnings=0

fix spacing between export buttons 2
  src/pages/stats/[login].tsx
Due: npm run format:fix, eslint --max-warnings=0

add heshamsadi to all-contributors
  .all-contributorsrc
  README.md
Due: npm run format:fix

fix: export buttons spacing (#61)
  .all-contributorsrc
  README.md
  src/pages/stats/[login].tsx
Due: npm run format:fix, eslint --max-warnings=0

added the node version in the package.json #62
  package.json
Due: npm run format:fix

chore: added the node version in the package.json #62 (#63)
  package.json
Due: npm run format:fix
