Repository DevLeonardoCommunity/github-stats: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:fix, eslint --max-warnings=0

feat: DarkModeDropdown component created
  src/components/DarkModeDropdown.test.tsx
  src/components/DarkModeDropdown.tsx
  src/components/Header.tsx
Due: npm run format:fix, eslint --max-warnings=0

feat: logics implemented on DarkModeDropdown to change style to github-stats app
  src/components/DarkModeDropdown.test.tsx
  src/components/DarkModeDropdown.tsx
  src/components/Header.tsx
  src/pages/_document.tsx
  tailwind.config.js
Due: npm run format:fix, eslint --max-warnings=0

chore: added cursor pointer #65
  src/pages/profile/index.tsx
Due: npm run format:fix, eslint --max-warnings=0

chore: added cursor pointer #65 (#67)
  src/pages/profile/index.tsx
Due: npm run format:fix, eslint --max-warnings=0

search repos stats func added
  src/pages/stats/[login].tsx
Due: npm run format:fix, eslint --max-warnings=0

changed navbar according to light theme
  package-lock.json
  package.json
  src/components/Header.tsx
Due: npm run format:fix, eslint --max-warnings=0

removed the extra conditional code
  src/pages/stats/[login].tsx
Due: npm run format:fix, eslint --max-warnings=0

feat: system preference added to darkmode dropdown list
  cypress/e2e/darkmode.spec.cy.ts
  src/components/DarkModeDropdown.test.tsx
  src/components/DarkModeDropdown.tsx
  src/pages/_document.tsx
  src/styles/globals.css
  tailwind.config.js
  test/setup/vitest-setup.ts
  vitest.config.js
Due: npm run format:fix, eslint --max-warnings=0

style: commented style removed
  src/styles/globals.css
Due: none

test: system preference test fixed
  src/components/DarkModeDropdown.test.tsx
  src/components/DarkModeDropdown.tsx
Due: npm run format:fix, eslint --max-warnings=0

feat: Implement 'Search Repos' Functionality on Stats Page (#68)
  src/pages/stats/[login].tsx
Due: npm run format:fix, eslint --max-warnings=0

toast added for the Clipboard Img copy alert
  src/pages/_app.tsx
  src/utils/exportAsImage.ts
Due: npm run format:fix, eslint --max-warnings=0

package.json updated
  package.json
Due: npm run format:fix

Update node version
  package-lock.json
  package.json
Due: npm run format:fix

feat: toast added for the Clipboard Img copy alert (#72)
  package.json
  src/pages/_app.tsx
  src/utils/exportAsImage.ts
Due: npm run format:fix, eslint --max-warnings=0

ci: update node version with caret (#75)
  package-lock.json
  package.json
Due: npm run format:fix

fix: new styles for contribution card and buttons
  src/components/RepositoryContributionsCard.tsx
  src/pages/profile/index.tsx
  src/pages/stats/[login].tsx
Due: npm run format:fix, eslint --max-warnings=0

build: package-lock.json updated
  package-lock.json
Due: npm run format:fix

build(deps): package.json and package-lock.json updated
  package-lock.json
Due: npm run format:fix

feat: dark mode toggle (#66)
  cypress/e2e/darkmode.spec.cy.ts
  package-lock.json
  src/components/DarkModeDropdown.test.tsx
  src/components/DarkModeDropdown.tsx
  src/components/Header.tsx
  src/components/RepositoryContributionsCard.tsx
  src/pages/_document.tsx
  src/pages/profile/index.tsx
  src/pages/stats/[login].tsx
  src/styles/globals.css
  tailwind.config.js
  test/setup/vitest-setup.ts
  vitest.config.js
Due: npm run format:fix, eslint --max-warnings=0

feat: profile page github activity graph
  package-lock.json
  package.json
  src/pages/profile/index.tsx
Due: npm run format:fix, eslint --max-warnings=0

chore!: make readable labels, variables and ensure gh data last 6 months
  src/pages/profile/index.tsx
Due: npm run format:fix, eslint --max-warnings=0

feat/Change github pull request state to icons
  .env
  package-lock.json
  package.json
  src/components/RepositoryContributionsCard.tsx
Due: npm run format:fix, eslint --max-warnings=0

feat/Change github pull request state to icons
  .env
  package-lock.json
  package.json
Due: npm run format:fix

feat: fix remov check current year bug and add hover tooltip on grid for display data
  package-lock.json
  package.json
  src/pages/profile/index.tsx
Due: npm run format:fix, eslint --max-warnings=0

feat: display months from current date and refactor
  src/pages/profile/index.tsx
Due: npm run format:fix, eslint --max-warnings=0

feat: profile page github activity graph (#76)
  package-lock.json
  package.json
  src/pages/profile/index.tsx
Due: npm run format:fix, eslint --max-warnings=0

feat: add searchbox label
  src/pages/stats/[login].tsx
Due: npm run format:fix, eslint --max-warnings=0

feat: add searchbox label (#80)
  src/pages/stats/[login].tsx
Due: npm run format:fix, eslint --max-warnings=0

added the barchart
  package.json
  pnpm-lock.yaml
  src/components/BarChartProfile.tsx
Due: npm run format:fix, eslint --max-warnings=0

feat: add links to pull requests
  src/components/RepositoryContributionsCard.tsx
  src/graphql/queries.ts
Due: npm run format:fix, eslint --max-warnings=0

feat: add links to pull requests (#81)
  src/components/RepositoryContributionsCard.tsx
  src/graphql/queries.ts
Due: npm run format:fix, eslint --max-warnings=0

added the cards skeleton in the stats page
  package.json
  src/components/CardSkeleton.tsx
  src/pages/_app.tsx
  src/pages/stats/[login].tsx
Due: npm run format:fix, eslint --max-warnings=0

fix the error in stats page
  src/pages/stats/[login].tsx
Due: npm run format:fix, eslint --max-warnings=0

fix the flex of the profile
  src/pages/profile/index.tsx
Due: npm run format:fix, eslint --max-warnings=0

added the package-lock.json file
  package-lock.json
Due: npm run format:fix

format pipeline fix
  src/pages/_app.tsx
Due: npm run format:fix, eslint --max-warnings=0

feat: added the cards skeleton in the stats page (#82)
  package-lock.json
  package.json
  src/components/CardSkeleton.tsx
  src/pages/_app.tsx
  src/pages/stats/[login].tsx
Due: npm run format:fix, eslint --max-warnings=0

Load theme earlier to avoid fouc
  src/components/DarkModeDropdown.tsx
  src/pages/_document.tsx
Due: npm run format:fix, eslint --max-warnings=0

Path conditions:
  npm run format:fix: any of: *.{js,jsx,ts,tsx,json,md}
  eslint --max-warnings=0: any of: *.{js,jsx,ts,tsx}
